* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Cinzel+Decorative|Raleway:400,500,700|Material+Icons');
@import '~react-md/src/scss/react-md';
@import 'theme.scss';

@include react-md-everything;
