@import '~react-md/src/scss/react-md';
$md-primary-color: #836fa9;
$md-secondary-color: #18FFFF;
$md-tertiary-color: #b39ddb;

.main-container,
.darker-background {
    background-color: #b39DDB;
}

a:link {
    color: #18FFFF;
    text-decoration: none;
}
